.p-confirm-dialog,
.p-confirm-dialog .p-dialog-header,
.p-confirm-dialog .p-dialog-content,
.p-confirm-dialog .p-dialog-footer {
    background: #1F1F2E !important;
    color: #FFFFFF !important;
    border-color: #1F1F2E !important;
}

.p-confirm-dialog .p-dialog-header {
    font-size: 1.15rem;
    font-weight: 600;
    color: #FFFFFF !important;
}

.p-confirm-dialog .p-dialog-content {
    font-size: 1rem;
    color: #CCCCCC !important;
}

.p-confirm-dialog .p-confirm-dialog-icon {
    color: #FFFFFF !important;
}

.p-confirm-dialog .p-button-text.p-button-success:focus {
    outline: none !important;
    box-shadow: none !important;  
}






